@model TodoCSharp.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="row justify-content-between">
    <div class="col-5">
        <h2>Please sign in</h2>
    </div>
</div>

<form asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="row justify-content-between">
        <div class="col-5">
            <div class="form-group">
                <h6><label asp-for="UserName"></label></h6>
                <input class="form-control" asp-for="UserName" />
                <span asp-validation-for="UserName"></span>
            </div>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-5">
            <div class="form-group">
                <h6><label asp-for="Email"></label></h6>
                <input class="form-control" asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-5">
            <div class="form-group">
                <h6><label asp-for="Password"></label></h6>
                <input class="form-control" asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-5">
            <div class="form-group">
                <h6><label asp-for="RememberMe"></label></h6>
                <input asp-for="RememberMe"/>
            </div>
        </div>
    </div>
    <div class="row jumbotron-fluid">
        <div class="col-5">
            <div class="form-group">
                <button type="submit" class="btn btn-light">Sign in</button>
                <a class="btn btn-light" asp-controller="Account" asp-action="Register">Register</a>
            </div>
        </div>
    </div>
</form>