@model RegisterViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="row justify-content-between">
    <div class="col-5">
        <h2>Register</h2>
    </div>
</div>

<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>

    <div class="row justify-content-between">
        <div class="col-5">
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input class="form-control" asp-for="UserName" type="text" />
                <span asp-validation-for="UserName"></span>
            </div>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-5">
            <div class=" form-group">
                <label asp-for="Age"></label> <br />
                <input class="form-control" asp-for="Age" />
                <span asp-validation-for="Age"></span>
            </div>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-5">
            <div class="form-group">
                <label asp-for="Email"></label><br />
                <input class="form-control" asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-5">
            <div class="form-group">
                <label asp-for="Password"></label> <br />
                <input class="form-control" asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-5">
            <div class="form-group">
                <label asp-for="PasswordConfirm"></label> <br />
                <input class="form-control" asp-for="PasswordConfirm" />
                <span asp-validation-for="PasswordConfirm"></span>
            </div>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-5">
            <div class="form-group">
                <label asp-for="Captcha"></label> <br />
                <input class="form-control" asp-for="Captcha" />
                <span asp-validation-for="Captcha"></span>
            </div>
        </div>
    </div>
    <div class="row jumbotron-fluid">
        <div class="col-5">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Register</button>
                <a class="btn btn-light" asp-controller="Account" asp-action="Login">Login</a>
            </div>
        </div>
    </div>
</form>
