<!DOCTYPE html>
<html>
<head>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link href="~/css/style.css" rel="stylesheet">
</head>
<body class="text-center">
    <div class="container body-content">
        @RenderBody()
     </div>
</body>
</html>
